
  h1, h2, h3, h4, h5, h6 {
    font-family: Minomu !important;
    font-weight: 800!important; /* Adjust weight for boldness */
    margin-top: 5px!important;
    margin-bottom: 5px!important;
    animation: fadeIn 2s ease-out;
  }
  h1 {
    font-size:40px!important;
  } 
  h2 {
    font-size:30px!important;
  } 
  h3 {
    font-size:25px!important;
  }
  h4 {
    font-size:20px!important;
  }  
  h5 {
    font-size:20px!important;
  }
  h6 {
    font-size:20px!important;
  }
  p {
    font-size:16px!important;
    animation: fadeIn 3s ease-out;

  }
  .Hero__content h2 {
    font-size:50px!important;
    line-height: 80px;
  }
  @media Screen and (max-width:600px) {
    h1 {
      font-size:25px!important;
    } 
    h2 {
      font-size:30px!important;
    } 
    h3 {
      font-size:25px!important;
    }
    h4 {
      font-size:20px!important;
    }  
    h5 {
      font-size:20px!important;
    }
    h6 {
      font-size:20px!important;
    }
    p {
      font-size:16px!important;
    }
    p.about-text {
      text-align: justify;
      }
    .Hero__content h2 {
      font-size:50px!important;
      line-height: 80px;
    }
    .form {
      width: 100%!important;
    }
  }
  